body {
  background-color: #006400;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.table {
  width: 80%;
  height: 80%;
  background-color: #006400;
  border-radius: 50% 50% 0 0;
  border: 20px solid #8B4513;
  position: absolute;
}

.dealer, .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.card {
  width: 50px;
  height: 75px;
  background-size: cover;
  margin: 0 5px;
}

.card.back {
  background-image: url('cardBack1.PNG'); 
  background-size: cover;
}


.score {
  color: white;
  font-size: 18px;
  display: none;
}

#bet-amount{
  margin-left: px;
}

.bet {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

#split-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  display: none; 
}

#split-button:hover {
  background-color: #555;
}

#message {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.drop-zone {
  width: 100px;
  height: 100px;
  border: 2px dashed white;
  border-radius: 50%;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}



.chips {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  background-color: #014D43;
  box-shadow: 0 0 0 5px #282828 inset, 0 0 0 10px #969696 inset, 0 0 6px rgba(255, 255, 255, 0.2);
}

.pokerchip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Fredoka-One', serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(211, 144, 0);
  background-size: cover;
  cursor: pointer;
  
}



.pokerchip.white {
  background: #dad2ba;
  border: 13px dashed white;
}

.pokerchip.red {
  background: #bc2943;
  border: 13px dashed white;
}

.pokerchip.blue {
  background: #007b93;
  border: 13px dashed white;
}



.pokerchip.green {
  background: #00794e;
  border: 13px dashed white;
}

.pokerchip.purple {
  background: #7b5a94;
  border: 13px dashed white;
}

.pokerchip.black {
  background: #231f20;
  border: 13px dashed white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  text-align: center;
  position: relative;
  z-index: 1001;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
}

@keyframes sweep-away {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh);
      opacity: 0;
  }
}

.wallet {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%); 
  color: #00ff00;
  font-family: 'Digital-7', monospace;
  font-size: 18px;
  z-index: 10;
}

@media (min-width: 1024px) {
  .wallet {
    margin-left: 25px; 
    margin-top: 110px; 
  }
}

@media (max-width: 768px) {
  .controls-container {
    flex-direction: column;
  }

  .wallet {
    order: -1; /* Ensures it's placed at the top in a mobile view */
    top: -40px; /* Position it above the chips container */
    left: 50%;
    transform: translateX(-50%);
  }
}

.home-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #006400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.animation-container {
  position: relative;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen-cards {
  display: flex;
  position: relative;
  gap: 20px;
}

.home-screen-card {
  width: 50px;
  height: 70px;
  background-image: url('cardBack1.PNG'); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  transform-style: preserve-3d;
  transition: transform 1.6s;
  transform-origin: center;
}

.home-screen-card.reveal {
  transform: rotateY(180deg);
}

.home-screen-card .front,
.home-screen-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen-card .front {
  transform: rotateY(180deg);
  background-color: white;
}

.home-screen-card .back {
  background-image: url('cardBack1.PNG'); 
  background-size: cover;
}



@keyframes revealCard {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.play-button {
  font-size: 36px;
  color: #58ee0d; 
  text-shadow: 
    0 0 5px #FFD700, 
    0 0 10px #FFD700, 
    0 0 15px #FFD700, 
    0 0 20px #FF8C00, 
    0 0 30px #FF8C00, 
    0 0 40px #FF8C00, 
    0 0 55px #FF4500, 
    0 0 75px #FF4500;
  border: 2px solid #19340b;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black background */
  opacity: 0; /* Start with the button hidden */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Smooth transition */
  transform: scale(0); /* Start scaled down */
}

.login-button {
  font-size: 36px;
  color: #58ee0d; 
  text-shadow: 
    0 0 5px #FFD700, 
    0 0 10px #FFD700, 
    0 0 15px #FFD700, 
    0 0 20px #FF8C00, 
    0 0 30px #FF8C00, 
    0 0 40px #FF8C00, 
    0 0 55px #FF4500, 
    0 0 75px #FF4500;
  border: 2px solid #19340b;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black background */
  opacity: 0; /* Start with the button hidden */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Smooth transition */
  transform: scale(0); /* Start scaled down */
}

.play-button.show, .login-button.show {
  display: block;
  opacity: 1; /* Reveal the button */
  transform: scale(1); /* Scale to normal size */
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#login-button {
  margin-top: 30px;
}

@keyframes blink {
  from {
    text-shadow: 
      0 0 5px #58ee0d, 
      0 0 10px #58ee0d, 
      0 0 15px #FFD700, 
      0 0 20px #FF8C00, 
      0 0 30px #FF8C00, 
      0 0 40px #FF8C00, 
      0 0 55px #FF4500, 
      0 0 75px #FF4500;
  }
  to {
    text-shadow: 
      0 0 2px #FFD700, 
      0 0 4px #FFD700, 
      0 0 6px #FFD700, 
      0 0 10px #FF8C00, 
      0 0 15px #FF8C00, 
      0 0 20px #FF4500, 
      0 0 25px #FF4500, 
      0 0 35px #FF4500;
  }
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

/* Add these styles to your existing CSS */

/* Auth Modal */
.auth-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.auth-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container form input {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
}

.auth-container form button {
  padding: 10px 20px;
  margin-top: 10px;
}

